#test{
  // border: 3px solid red;
  // background-image: url("../../static/patterns/geowal22.jpg");
  // background-repeat: no-repeat;
  z-index: -100;
  position: absolute;
  background-origin: content-box;
  // background-position: -10% 80%;
  bottom:20%;
  right:20%;
  // border-radius: 50%;
  background-size: 50px;
  width: 300px;
  background-repeat: no-repeat;
}