// various viewports

$mobile: '476px';
$ipad: '768px';
$ipadRotate: '1024px';
$desktop: '1300px';

// @media ${Styles.device.laptopL} {
// }

// @media ${Styles.device.laptop} {
// }

// @media ${Styles.device.ipad} {
// }

// @media ${Styles.device.mobileL} {
// }

// @media ${Styles.device.mobileM} {
// }

// @media ${Styles.device.mobileS} {
// }
