$font-path: '../static/fonts';
$font_normal: 'monospace';
$font_gabriela: 'Gabriela';
$font_gabriela_filename: 'Gabriela-Regular';
$font_gloriahallelujah: 'Gloria Hallelujah';
$font_gloriahallelujah_filename: 'GloriaHallelujah';
$font_robotomono: 'Roboto Mono';
$font_robotomono_filename: 'RobotoMono-Regular';
$font_normal: 'monospace';

@mixin font-face($font-name, $font-family, $url) {
  @font-face {
    font-family: $font-name;
    src: url('#{$url}/#{$font-family}.woff') format('woff'),
      url('#{$url}/#{$font-family}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin textColorGradient($gradient) {
  background: -webkit-#{$gradient};
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@include font-face($font_gabriela, $font_gabriela_filename, $font-path);
@include font-face(
  $font_gloriahallelujah,
  $font_gloriahallelujah_filename,
  $font-path
);
@include font-face($font_robotomono, $font_robotomono_filename, $font-path);

$text_xxlarge: 3em;
$text_xlarge: 2.4em;
$text_large: 1.8em;
$text_medium: 1.4275em;
$text: 1.1em;
$text_small: 0.9em;
$text_xsmall: 0.6em;
