$font-path: '../static/fonts';
$font_gabriela: 'gabriela';
$font_gloriahallelujah: 'gloriahallelujah';

@mixin font-face($font-family, $url) {
  @font-face {
    font-family: $font-family;
    src: url('#{$url}/#{$font-family}.woff') format('woff'),
      url('#{$url}/#{$font-family}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face($font_gabriela, $font-path);
@include font-face($font_gloriahallelujah, $font-path);

$text_large: 24px;
$text_medium: 20px;
$text: 16px;
