@import './typography';
@import './colors';

#about {
  height: 100vh;
  padding-top: 30vh;
  // border: 3px solid $gray;
  .container {
    text-align: center;
    width: 70%;
    margin: 0 auto;

    * {
      font-family: $font_robotomono;
    }

    img.about-bg {
      position: absolute;
      width: 90%;
      height: 90%;
      height: auto;
      top: 5%;
      left: 5%;
      z-index: -1;
      transform: rotate(4deg);
      opacity: 0.7;
    }

    .box {
      position: absolute;
      width: 335px;
      height: 303px;
      top: 600px;
      left: 40px;
      background: $green;
      border-radius: 39px;
      transform: rotate(50deg);
      z-index: -2;
    }

    h4.hi {
      font-weight: 500;
      color: $blue;
    }

    .me {
      margin: 60px 0;
    }

    p.desc {
      width: 60%;
      margin: 0 auto;
      font-size: $text_small * 0.9;
      line-height: $text_medium;
      font-family: $font_normal;
    }

    .credits {
      margin-top: 60px;
      width: 60%;
      text-align: center;
      margin-left: auto;
      // border: 3px solid red;
      a {
        text-decoration: none;
        .type {
          @include textColorGradient($g_blackOrange);
          font-family: $font_gloriahallelujah;
          font-size: $text_large;
          line-height: $text_large;
        }
      }

      .from-where {
        font-size: $text_small;
        span {
          @include textColorGradient($g_blueGreen);
        }
      }
    }
  }

  #map {
    position: absolute;
    bottom: -800px;
    right: 15px;
    .learning {
      position: absolute;
      top: 20%;
      left: 0;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .title {
        font-family: $font_robotomono;
        @include textColorGradient($g_pinkBluePurple);
        margin-bottom: 100px;
      }
      .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
        margin: 0 auto;
        .logo {
          align-self: flex-end;
          display: grid;
          grid-template-columns: 50px 100px;
          justify-content: center;
          img {
            align-self: flex-end;
            width: 44px;
            height: 44px;
          }
          span {
            align-self: center;
            font-family: $font_gloriahallelujah;
          }
        }
      }
    }
  }
}
