@import './typography';
@import './colors';

#about {
  .aboutme {
    margin-top: 300px;
    // border: 3px solid red;
    .container {
      // border: 3px solid $gray;
      text-align: center;
      width: 70%;
      padding-bottom: 100px;
      margin: 0 auto;

      * {
        font-family: $font_robotomono;
      }

      img.about-bg {
        position: absolute;
        width: 90%;
        height: 90%;
        height: auto;
        top: 5%;
        left: 5%;
        z-index: -1;
        transform: rotate(4deg);
        opacity: 0.7;
      }

      .box {
        position: absolute;
        width: 335px;
        height: 303px;
        top: 600px;
        left: 40px;
        background: $green;
        border-radius: 39px;
        transform: rotate(60deg);
        z-index: -2;
        -webkit-animation: boxRotate 4s infinite; /* Safari 4+ */
        -moz-animation: boxRotate 4s infinite; /* Fx 5+ */
        -o-animation: boxRotate 4s infinite; /* Opera 12+ */
        animation: boxRotate 4s infinite; /* IE 10+, Fx 29+ */
      }

      @keyframes boxRotate {
        from {
          transform: rotate(50deg);
        }
        to {
          transform: rotate(410deg);
        }
      }
      h3.hi {
        font-weight: 500;
        color: $blue;
      }

      .me {
        margin: 60px 0;
      }

      p.desc {
        width: 60%;
        margin: 0 auto;
        font-size: $text_small * 0.9;
        line-height: $text_medium;
        font-family: $font_normal;
      }

      .credits {
        margin-top: 60px;
        width: 60%;
        text-align: center;
        margin-left: auto;
        // border: 3px solid red;
        a {
          text-decoration: none;
          .type {
            @include textColorGradient($g_blackOrange);
            font-family: $font_gloriahallelujah;
            font-size: $text_large;
            line-height: $text_large;
          }
        }

        .from-where {
          font-size: $text_small;
          span {
            @include textColorGradient($g_blueGreen);
          }
        }
      }
    }

    #map {
      position: relative;
      margin-top: 15vh;
      text-align: right;
      .learning {
        // border: 3px solid green;
        position: absolute;
        top: 20%;
        right: 0;
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .title {
          font-family: $font_robotomono;
          @include textColorGradient($g_pinkBluePurple);
          margin-bottom: 100px;
        }
        .logos {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 90%;
          margin: 0 auto;
          .logo {
            align-self: flex-end;
            display: grid;
            grid-template-columns: 50px 100px;
            justify-content: center;
            img {
              align-self: flex-end;
              width: 44px;
              height: 44px;
            }
            span {
              align-self: center;
              font-family: $font_gloriahallelujah;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  #about {
    .aboutme {
      margin-top: 180px;
      .container {
        width: 85%;
        img.about-bg {
          width: 95%;
          height: auto;
        }

        .box {
          width: 300px;
          height: 253px;
          top: 550px;
        }

        p.desc {
          width: 70%;
          font-size: $text_small * 0.8;
        }

        .credits {
          a {
            .type {
              font-size: $text_medium;
            }
          }

          .from-where {
            font-size: $text_small * 0.8;
          }
        }
      }

      #map {
        text-align: center;
        .learning {
          top: 20%;
          left: 25%;
          .logos {
            gap: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $ipadRotate) {
  #about {
    .aboutme {
      .container {
        width: 85%;
        img.about-bg {
          width: 100%;
          height: auto;
        }
        .box {
          height: 250px;
          width: 203px;
          top: 500px;
        }

        .me {
          img {
            width: 20%;
            height: auto;
          }
        }
        p.desc {
          width: 75%;
          padding-left: 50px;
          font-size: $text_xsmall;
        }

        .credits {
          a {
            .type {
              font-size: $text_medium;
            }
          }

          .from-where {
            font-size: $text_xsmall;
          }
        }
      }

      #map {
        text-align: center;
        .learning {
          top: 20%;
          left: 25%;
          .logos {
            gap: 100px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $ipad) {
  #about {
    .aboutme {
      margin-top: 100px;
      .container {
        width: 90%;
        img.about-bg {
          width: 100%;
          height: auto;
        }
        .box {
          height: 200px;
          width: 153px;
          top: 350px;
        }

        .me {
          margin: 10px auto;
          margin-bottom: 40px;
          img {
            width: 20%;
            height: auto;
          }
        }
        p.desc {
          width: 80%;
          padding-left: 40px;
          font-size: $text_xsmall * 0.8;
        }

        .credits {
          a {
            .type {
              font-size: $text_small;
            }
          }

          .from-where {
            font-size: $text_xsmall * 0.8;
          }
        }
      }

      #map {
        margin: 150px auto;
        width: 80vw;
        .learning {
          top: 20%;
          left: 25%;
          .logos {
            left: 0;
            gap: 10px;
            margin-left: -40px;
            align-content: flex-start;
            justify-content: start;
            .logo {
              align-self: flex-start;
              display: grid;
              grid-template-columns: 50px 100px;
              justify-content: center;
              img {
                align-self: flex-end;
                width: 44px;
                height: 44px;
              }
              span {
                font-size: $text_xsmall;
                align-self: center;
                font-family: $font_gloriahallelujah;
              }
            }
          }
        }
      }
    }
  }
}
