@import './colors';
@import './typography';

#blogs {
  display: grid;
  grid-template-columns: 500px auto 200px;
  section {
    border-left: 3px solid grey;
    &.blog,
    &.toc {
      height: 80vh;
      overflow: scroll;
    }
    &.toc {
      h5 {
        font-size: $text_large;
      }

      .table-of-content {
        .level {
          h6 {
            font-size: $text_small;
          }
        }

        .ioioo {
          a {
            color: $blue;
            text-decoration: none;
            text-transform: capitalize;
            display: block;
            margin: 10px;
          }
        }
      }
    }
  }
}
