@import './colors';
@import './typography';

.overlay {
  width: 100vw;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: $black;
  overflow-x: hidden;
  transition: height 0.3s;
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    a {
      padding: 14px 0;
      text-decoration: none;
      font-size: $text_medium;
      font-family: $font_gloriahallelujah;
      color: $gray;
      display: block;
      cursor: pointer;
    }
  }

  .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: $text_large;
    cursor: pointer;
  }
}
