@import './typography';
@import './colors';

#contacts {
  // border: 3px solid orange;
  margin-top: 160px;
  img.polygon {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    width: 40%;
    &.green {
      top: 0;
      right: 0;
    }
    &.red {
      bottom: 0;
      left: 0;
    }
  }
  .container {
    width: 70%;
    margin: 0 auto;
    // border: 1px solid red;
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;
      img {
        margin-right: 20px;
        width: 44px;
        height: auto;
      }
      h2 {
        margin-bottom: 0;
        font-size: $text_medium;
        line-height: 1em;
        color: $green;
        opacity: 0.9;
        position: relative;
      }
    }

    .main {
      display: grid;
      grid-template-columns: 1fr 2fr;
      justify-content: center;
      align-items: center;

      .left {
        background: $black20;
        border-radius: 68px;
        width: 541px;
        height: 556px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 150px;

        .gmail {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: #1f1d1d;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .photo {
          margin: 50px auto;
        }

        .social-links {
          background-color: $mapPurple;
          width: 246px;
          height: 75px;
          border-radius: 26px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
      }

      .right {
        background: $black20;
        border-radius: 68px;
        width: 150%;
        height: 456px;
        border: 2px solid $green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -275px;
        // order: -1;
        z-index: -1;
        .internal {
          background: $background;
          z-index: -2;
          border-radius: 68px;
          width: 90%;
          border: 2px solid $twitterBlue;
          height: 256px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 100px;
          line-height: $text_large;
          text-align: center;
          color: $gray;
          span {
            margin-top: 10px;
            color: $blue;
            &::selection {
              background-color: $black;
              color: $gray;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  #contacts {
    // border: 3px solid orange;
    margin-top: 160px;
    .container {
      width: 80%;
      margin: 0 auto;
      .main {
        .left {
          width: 441px;
          height: 526px;
          margin-left: 100px;
          .gmail {
            margin-top: 40px;
            margin-left: -20px;
          }
        }

        .right {
          width: 150%;
          height: 356px;
          border: 2px solid $green;
          margin-left: -255px;
          .internal {
            padding: 100px;
            font-size: $text_small;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $ipadRotate) {
  #contacts {
    .container {
      .main {
        // border: 3px solid orange;
        .left {
          width: 441px;
          height: 526px;
          margin-left: 10px;
          .gmail {
            margin-top: 40px;
            margin-left: -40px;
          }
          .social-links {
            margin-top: -20px;
            margin-left: -40px;
          }
        }

        .right {
          width: 170%;
          height: 376px;
          border: 2px solid $green;
          margin-left: -255px;
          .internal {
            padding: 100px;
            font-size: $text_small;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $ipad) {
  #contacts {
    .container {
      width: 85%;
      .main {
        // border: 3px solid orange;
        .left {
          width: 401px;
          height: 506px;
          margin-left: -10px;
          .gmail {
            margin-top: 40px;
            margin-left: -80px;
          }
          .social-links {
            margin-top: -20px;
            margin-left: -40px;
          }
        }

        .right {
          width: 190%;
          height: 376px;
          border: 2px solid $green;
          margin-left: -255px;
          .internal {
            padding: 50px;
            padding-left: 110px;
            padding-right: 20px;
            font-size: $text_small * 0.8;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  #contacts {
    .container {
      width: 85%;
      .main {
        // border: 3px solid orange;
        display: flex;
        flex-direction: column;
        .left {
          justify-content: center;
          align-items: center;
          width: 90%;
          height: 400px;
          margin: 0;
          padding: 0;
          border-radius: 10px;
          padding-top: 30px;
          border: 3px solid $mapPurple;
          .photo {
            border-radius: 20px;
            border: 2px solid $twitterBlue;
          }
          .gmail {
            order: 1;
            margin: 0;
            margin-top: -30px;
            // margin-left: -80px;
          }
          .social-links {
            order: 2;
            margin: 0;
            margin-top: 40px;
          }
        }

        .right {
          border-radius: 10px;
          width: 90%;
          height: 376px;
          border: 2px solid $green;
          margin: 0;
          padding: 20px;
          .internal {
            border-radius: 20px;
            padding: 10px;
            font-size: $text_small * 0.8;
          }
        }
      }
    }
  }
}
