@import './typography';
@import './colors';

.experience {
  // border: 3px solid orange;
  height: 100vh;
  img#experience-bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 25%;
    left: 0;
    z-index: -1;
    transform: translateY(-300px);
  }
  .container {
    width: 70%;
    margin: 0 auto;
    // border: 1px solid red;
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;
      img {
        margin-right: 10px;
        width: 40px;
        height: auto;
      }
      h2 {
        margin-bottom: 0;
        font-size: $text_medium;
        line-height: 1em;
        color: $orange;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: -50px;
          top: -20px;
          background: $g_blueGreen;
          width: 90px;
          height: 6px;
          border-radius: 7px;
        }
        &::after {
          content: '';
          position: absolute;
          left: -50px;
          bottom: -20px;
          background: $g_blueGreen;
          width: 90px;
          height: 6px;
          border-radius: 7px;
        }
      }
    }

    .exp-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      .exp {
        // border: 1px solid red;
        text-align: center;
        img {
          width: 75%;
          height: auto;
          display: block;
          margin: 0 auto;
        }
        .content {
          position: absolute;
          // border: 3px solid red;
          top: 90px;
          left: 38px;

          .position,
          .desc {
            @include textColorGradient($g_blueGreen);
          }

          .desc {
            font-size: $text_small;
            font-family: $font_normal;
          }

          .info {
            width: 60%;
            margin: 40px auto;
            margin-top: 60px;
            p,
            img {
              width: 100%;
              text-align: left;
              word-break: keep-all;
              font-size: $text_xsmall;
              font-family: $font_normal;
            }
          }
          // company logo
          img {
            width: 202px;
            height: 71px;
            margin: 20px auto;
          }

          .bottom {
            display: grid;
            grid-template-columns: 30% auto;
            justify-content: center;
            align-content: flex-end;
            height: fit-content;
            .certificates {
              display: flex;
              justify-content: flex-end;
              width: fit-content;
              height: 56px;
              a {
                width: 56px;
                height: 56px;
                align-self: flex-start;
                img {
                  width: 100%;
                  height: 100%;
                  margin-top: -10px;
                }
              }
            }
            .date {
              font-size: $text_xsmall;
              height: fit-content;
            }
          }
        }
      }

      .exp#sec {
        img {
          width: 70%;
        }
        .content {
          margin-left: 160px;
        }
      }
    }
  }
}
