@import './colors';
@import './typography';

#stats {
  margin-top: 20px;
  // height: 160vh;
  // border: 3px dotted orange;
  img#github-bg,
  img#github-bg2,
  img#github-bg3 {
    position: absolute;
    top: -660px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 0.5;
    // border: 3px solid gray;
  }

  img#github-bg {
    transform: rotate(180deg);
  }

  img#github-bg2 {
    top: 60%;
    left: 50%;
    z-index: -10;
    width: 10%;
    height: auto;
    // border: 3px solid gray;
  }
  img#github-bg3 {
    top: -8%;
    left: 12%;
    width: 10%;
    height: auto;
    opacity: 0.3;
  }

  .container {
    width: 70%;
    margin: 0px auto;
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;
      img {
        margin-right: 20px;
        width: 44px;
        height: auto;
      }
      h2 {
        margin-bottom: 0;
        font-size: $text_medium;
        line-height: 1em;
        color: $green;
        opacity: 0.9;
        position: relative;
      }
    }
    .values {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      width: 100%;
      margin: 150px auto;
      .count {
        text-align: center;
        font-weight: bold;
        line-height: $text_large;
        font-size: $text_xxlarge;
        color: $twitterBlue;
      }
      .type {
        border: 4px dashed $gray;
        text-align: center;
        align-items: center;
        padding: 5px;
        color: $gray;
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }
      }
    }
  }

  .graphs {
    .container {
      // border: 3px solid orange;
      width: 60%;
      position: relative;
      display: flex;
      flex-direction: column;
      .github-stats {
        border-radius: 48px;
        border: 1px solid $gray;
        align-self: flex-end;
        width: 70%;
        padding: 20px;
        .svg {
          margin: 0 auto;
          width: 80%;
          direction: rtl;
          overflow-x: scroll;
          svg {
            background: $black;
            font-size: 0.7em;
            text {
              fill: $gray;
              font-size: 0.8em;
            }
          }
        }
        .stats {
          display: flex;
          margin-top: 20px;
          .extra {
            border-right: 1px solid $gray;
            width: 50%;
            .task {
              margin: 10px 0;
              font-size: $text_small;
              color: $green;
            }
            .orgs {
              width: 100%;
              display: flex;
              justify-content: start;
              align-items: center;
              flex-wrap: wrap;

              .org {
                margin: 5px;
                justify-self: center;
                padding: 5px;
                border: 1px dashed $gray;
                span {
                  font-size: $text_xsmall * 0.8;
                }
                img {
                  width: 22px;
                  height: 22px;
                  margin-right: 5px;
                }
              }
            }
            .activity {
              margin: 10px 0;
              font-size: $text_small;
              color: $green;
            }
            .to {
              color: $gray;
              width: 100%;
              font-size: $text_small * 0.7;
              a {
                word-break: normal;
                text-decoration: underline;
                color: $blue;
                margin: 0 10px;
                display: block;
              }
            }
          }
          svg {
            margin-left: 40px;
            width: 50%;
            font-size: 0.8em;
            fill: $gray;
            overflow: visible;
            // border: 3px solid green;
            text {
              font-size: 0.7em;
            }
          }
        }
      }

      figure {
        margin-top: 60px;
        width: 70%;
        box-shadow: 5px 5px 10px $background;
        align-self: flex-start;
        border-radius: 50px;
        border: 1px solid $gray;
        padding: 20px;
        embed {
          width: 635px;
          height: 423px;
          border-radius: 48px;
        }
      }

      img#pattern1 {
        position: absolute;
        top: 5%;
        left: 3%;
        width: 30%;
        transform: rotate(-9deg);
        z-index: -2;
        opacity: 0.4;
      }

      img#lady {
        position: absolute;
        top: 15%;
        left: 0;
        width: 40%;
        height: 30%;
        z-index: -1;
        opacity: 0.8;
      }

      img#pattern2 {
        position: absolute;
        bottom: 5%;
        right: 10%;
        width: 30%;
        transform: rotate(-15deg);
        z-index: -2;
        opacity: 0.6;
      }

      img#boy {
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 20%;
        height: 20%;
        z-index: -1;
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  #stats {
    margin-top: 100px;
    img#github-bg,
    img#github-bg2,
    img#github-bg3 {
      top: -420px;
      left: 0;
    }

    img#github-bg2 {
      top: 60%;
      left: 50%;
    }

    img#github-bg3 {
      top: -3%;
      left: 12%;
    }

    .graphs {
      .container {
        // border: 3px solid orange;
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: $ipadRotate) {
  #stats {
    margin-top: 100px;
    // border: 3px dotted orange;
    img#github-bg,
    img#github-bg2,
    img#github-bg3 {
      top: -350px;
    }

    img#github-bg3 {
      top: -3%;
      left: 3%;
      width: 15%;
      height: auto;
      opacity: 0.5;
    }

    .container {
      width: 80%;
    }

    .graphs {
      .container {
        width: 80%;
        .github-stats {
          width: 80%;
        }

        figure {
          width: 80%;
        }

        img#lady {
          top: 15%;
          left: -10%;
        }

        img#pattern2 {
          right: 0%;
        }

        img#boy {
          right: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: $ipad) {
  #stats {
    margin-top: 100px;
    // border: 3px dotted orange;
    img#github-bg,
    img#github-bg2,
    img#github-bg3 {
      top: -300px;
    }

    img#github-bg3 {
      top: -2%;
      width: 15%;
      height: auto;
      opacity: 0.5;
    }

    .container {
      width: 85%;
      .values {
        gap: 20px;
      }
    }

    .graphs {
      .container {
        // border: 3px solid orange;
        width: 90%;
        .github-stats {
          width: 80%;
          padding: 10px;
          padding-right: 0;
          .svg {
            width: 95%;
          }
          .stats {
            .extra {
              .task {
                font-size: $text_xsmall;
              }
              .orgs {
                .org {
                  img {
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                  }
                }
              }
              .activity {
                display: none;
              }
              .to {
                display: none;
              }
            }
            svg {
              margin-left: 10px;
              text {
                font-size: 0.6em;
              }
            }
          }
        }

        figure {
          width: 75%;
          embed {
            width: 500px;
            height: 423px;
          }
        }

        img#pattern1 {
          top: 5%;
          left: 3%;
        }

        img#lady {
          top: 15%;
          left: -10%;
        }

        img#pattern2 {
          bottom: 5%;
          right: 0%;
        }

        img#boy {
          bottom: 10%;
          right: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  #stats {
    margin-top: 100px;
    img#github-bg,
    img#github-bg2,
    img#github-bg3 {
      top: -150px;
    }
    img#github-bg3 {
      // border: 3px solid red;
      top: -2%;
      left: 0%;
      width: 20%;
    }

    .container {
      width: 90%;
      .values {
        grid-template-columns: repeat(2, 1fr);
        .prval {
          order: 1;
        }
        .stars {
          display: none;
        }
      }
    }

    .graphs {
      .container {
        // border: 3px solid orange;
        width: 100%;
        .github-stats {
          width: 90%;
          margin: 0 auto;
          .stats {
            flex-direction: column;
            .extra {
              border-right: none;
              width: 100%;
              .task {
                font-size: $text_small;
              }
              .orgs {
                .org {
                  img {
                    width: 22px;
                    height: 22px;
                  }
                }
              }
            }
          }
        }

        figure {
          width: 90%;
          margin: 0 auto;
          margin-top: 80px;
          embed {
            width: 400px;
            height: 323px;
          }
        }

        img#pattern1 {
          top: 25%;
          left: 60%;
          opacity: 0.2;
        }

        img#lady {
          top: 25%;
          left: 60%;
          opacity: 0.8;
        }

        img#pattern2 {
          bottom: 10%;
          right: 15%;
          opacity: 0.2;
        }

        img#boy {
          bottom: 7%;
          right: 25%;
          opacity: 0.8;
        }
      }
    }
  }
}
