@import './colors';
@import './typography';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 3px solid black;
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  * + * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}
