@import './colors';
@import './typography';

.hero {
  height: 100vh;
  width: 100vw;
  .container {
    width: 70%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-top: 200px;
    padding-right: 100px;
    .top {
      // border: 3px solid red;
      display: grid;
      grid-template-columns: 70px 300px 220px;
      #bag {
        position: absolute;
        top: -90px;
        left: 50px;
        transform: rotate(-90deg);
        // display: none;
      }
      .hi {
        font-size: $text_small * 0.9;
        color: $gray;
      }
      .bar,
      .bar2 {
        grid-column: span 2;
        height: 6px;
        border-radius: 7px;
        background: $g_blueGreen;
        align-self: center;
        width: 80%;
      }

      .bar2 {
        width: 70%;
      }

      .name {
        grid-column: span 3;
        font-size: $text_xlarge;
        line-height: $text_large * 0.7;
        @include textColorGradient($g_blackOrange);
      }

      .desc {
        text-align: left;
        font-size: $text_small;
        color: $gray;
        margin-left: -86px;
      }
    }

    .bottom {
      // border: 3px solid orange;
      width: 590px;
      .logos {
        padding-top: 40px;
        padding-bottom: 10px;
        width: 90%;
        // border: 3px solid yellow;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        #node {
          align-self: flex-end;
          margin-left: -10px;
        }
      }
      .bar3 {
        height: 6px;
        border-radius: 7px;
        background: $g_blueGreen;
        align-self: center;
        width: 84%;
      }
    }
  }
  #navbar-bg {
    position: absolute;
    top: -200px;
    right: 0;
    width: 80vw;
    z-index: -1;
  }

  svg#book-pattern {
    position: absolute;
    top: 200px;
    left: -400px;
    width: 45vw;
    height: auto;
  }
  #box-pattern {
    position: absolute;
    top: 350px;
    width: 20vw;
    height: auto;
    right: 0;
    z-index: -1;
  }
}

@media screen and (max-width: $desktop) {
  .hero {
    .container {
      width: 80%;
    }
    #navbar-bg {
      height: 60%;
    }
    svg#book-pattern {
      width: 55vw;
    }
    #box-pattern {
      top: 550px;
    }
  }
}

@media screen and (max-width: $ipadRotate) {
  .hero {
    .container {
      width: 80%;
      padding-right: 0;
      .top {
        grid-template-columns: 70px 250px 200px;
        .hi {
          font-size: $text_small * 0.8;
        }
        .bar,
        .bar2 {
          width: 65%;
        }

        .bar2 {
          width: 55%;
        }

        .name {
          font-size: $text_large;
          line-height: $text_large * 0.7;
        }

        .desc {
          font-size: $text_small * 0.8;
          margin-left: -126px;
        }
      }

      .bottom {
        width: 520px;
        .logos {
          width: 75%;
          img {
            width: 44px;
            height: 44px;
          }
          #node {
            margin-left: 0px;
          }
        }
        .bar3 {
          width: 70%;
        }
      }
    }
    svg#book-pattern {
      left: -300px;
    }
    #navbar-bg {
      height: 65%;
    }

    #box-pattern {
      top: 400px;
    }
  }
}

@media screen and (max-width: $ipad) {
  .hero {
    // border: 3px solid green;
    .container {
      width: 90%;
      justify-content: center;
      margin-left: 100px;
    }
    svg#book-pattern {
      left: -400px;
      width: 80%;
    }
    #box-pattern {
      top: 500px;
      right: -50px;
      opacity: 0.4;
    }
    #navbar-bg {
      height: 65%;
    }
  }
}

@media screen and (max-width: $mobile) {
  .hero {
    padding: 20px;
    .container {
      justify-content: center;
      width: 100%;
      padding-top: 220px;
      margin-left: 0;
      .top {
        grid-template-columns: 70px 100px 100px;
        grid-template-rows: auto;
        .hi {
          font-size: $text_small * 0.9;
        }
        .bar,
        .bar2 {
          width: 100%;
        }
        .bar2 {
          grid-column: 1/2;
          width: 130%;
        }
        .name {
          font-size: $text_medium;
          line-height: $text_large * 0.8;
        }

        .desc {
          font-size: $text_small * 0.8;
          grid-column: 2/5;
          margin-left: 40px;
        }
      }

      .bottom {
        width: 270px;
        margin-left: auto;
        .logos {
          width: 100%;
          gap: 10px;
          padding-top: 30px;
          img {
            width: 44px;
            height: 44px;
            &:nth-of-type(1) {
              margin-left: 0;
            }
          }
          #node {
            margin-left: 0px;
          }
        }
        .bar3 {
          width: 100%;
        }
      }
    }
    svg#book-pattern {
      left: -580px;
      top: 0px;
      width: 130%;
      transform: rotate(50deg);
    }
    #box-pattern {
      opacity: 0.1;
      right: -10px;
      top: 200px;
      width: 30%;
    }
    #navbar-bg {
      height: 60%;
    }
  }
}
