@import './typography';
@import './colors';

.languages {
  // border: 3px solid orange;
  height: 100vh;
  img#languages-bg {
    position: absolute;
    width: 100%;
    height: auto;
    top: 25%;
    left: 0;
    z-index: -1;
    transform: translateY(-300px);
  }
  .container {
    width: 70%;
    margin: 0 auto;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .primary,
    .secondary,
    .tertiary {
      transform: translateY(-50px);
      order: 2;
      img {
        width: 100%;
        height: auto;
      }
      .content {
        // border: 3px solid red;
        position: absolute;
        top: 70px;
        left: 68px;

        .type {
          @include textColorGradient($g_blueRed);
          line-height: 1.2em;
          margin-left: 50px;
          font-family: $font_gabriela;
        }

        .name {
          // border: 3px solid red;
          display: flex;
          font-size: $text_large;
          margin-top: 40px;
          margin-left: -78px;
          justify-content: center;
          img {
            width: 72px;
            height: 72px;
            padding-left: -20px;
            padding-right: 10px;
          }
          .lang {
            align-self: center;
            font-family: $font_gloriahallelujah;
          }
        }

        .desc {
          color: $blue;
          p {
            font-family: $font_normal;
            font-size: $text_xsmall;
          }
          text-align: left;
          width: 90%;
          margin-top: 55px;
        }
      }
    }

    .secondary {
      transform: translateY(100px);
      order: 1;
      .content {
        .type {
          margin-left: 19px;
          @include textColorGradient($g_blueGreen);
        }
        .desc {
          color: $red;
        }
      }
    }
    .tertiary {
      transform: translateY(300px);
      order: 0;
      .content {
        .type {
          @include textColorGradient($g_blackOrange);
        }
        .desc {
          color: $darkgreen;
        }
      }
    }
  }
}
