@import './typography';
@import './colors';

.languages {
  // border: 3px solid orange;
  img#languages-bg {
    position: absolute;
    width: 100vw;
    height: auto;
    top: 25%;
    left: 0;
    z-index: -1;
    transform: translateY(-300px);
  }
  .container {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    .primary,
    .secondary,
    .tertiary {
      width: 100%;
      transform: translateY(-50px);
      order: 2;
      position: relative;
      img.card-pattern {
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 100%;
        z-index: -1;
      }
      .content {
        width: 90%;
        margin: 40px auto;
        margin-top: 60px;
        .type {
          @include textColorGradient($g_blueRed);
          line-height: 1.2em;
          text-align: center;
          font-family: $font_gabriela;
        }
        .name {
          display: flex;
          font-size: $text_medium;
          justify-content: center;
          margin: 40px 0;
          img {
            width: 64px;
            height: 64px;
            margin-right: 10px;
          }
          .lang {
            align-self: center;
            font-family: $font_gloriahallelujah;
          }
        }

        .desc {
          color: $blue;
          text-align: left;
          width: 90%;
          padding-left: 50px;
          p {
            font-family: $font_normal;
            font-size: $text_xsmall * 0.9;
          }
        }
      }
    }
    .primary {
      .content {
        .desc {
          p {
            line-height: 1.3;
          }
        }
      }
    }

    .secondary {
      transform: translateY(100px);
      order: 1;
      .content {
        .type {
          @include textColorGradient($g_blueGreen);
        }
        .desc {
          color: $red;
        }
      }
    }
    .tertiary {
      transform: translateY(300px);
      order: 0;
      .content {
        .type {
          @include textColorGradient($g_blackOrange);
        }
        .desc {
          color: $darkgreen;
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .languages {
    margin-top: 60px;
    img#languages-bg {
      top: 70%;
    }
    .container {
      width: 80%;
      .primary,
      .secondary,
      .tertiary {
        img.card-pattern {
          transform: scale(1.2);
        }
        .content {
          width: 90%;
          .type {
            font-size: $text_small * 0.8;
          }

          .name {
            font-size: $text_small;
            margin: 20px 0;
          }

          .desc {
            width: 110%;
            padding-left: 10px;
            p {
              margin: 0.8em;
              font-size: $text_xsmall * 0.8;
              line-height: 1.7em;
            }
          }
        }
      }
      .primary {
        transform: translateY(-100px);
      }
      .secondary {
        transform: translateY(0px);
      }
      .tertiary {
        transform: translateY(100px);
      }
    }
  }
}

@media screen and (max-width: $ipadRotate) {
  .languages {
    img#languages-bg {
      top: 25%;
    }
    .container {
      padding-top: 180px;
      gap: 100px;
      .primary,
      .secondary,
      .tertiary {
        img.card-pattern {
          top: 10px;
          transform: scale(1.45);
        }
        .content {
          width: 100%;
          .name {
            img {
              width: 44px;
              height: 44px;
            }
          }
          .desc {
            padding-left: 0px;
            width: 120%;
            p {
              margin: 0.8em;
              font-size: $text_xsmall * 0.8;
              line-height: 1.4em;
            }
          }
        }
      }
      .primary {
        transform: translateY(-120px);
        order: 0;
        .content {
          .desc {
            padding-left: 0;
          }
        }
      }
      .secondary {
        order: 1;
        transform: translateY(40px);
      }
      .tertiary {
        order: 2;
        transform: translateY(-80px);
      }
    }
  }
}

@media screen and (max-width: $ipad) {
  .languages {
    margin-top: -100px;
    // border: 3px solid silver;
    img#languages-bg {
      top: 25%;
    }
    .container {
      gap: 80px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
      .primary,
      .secondary,
      .tertiary {
        img.card-pattern {
          top: 0px;
          transform: scale(1.2);
        }
        .content {
          margin-top: 30px;
          width: 100%;
          .name {
            img {
              width: 44px;
              height: 44px;
            }
          }
          .desc {
            padding-left: 20px;
            width: 100%;

            p {
              margin: 0.8em;
              font-size: $text_xsmall * 0.8;
              line-height: 1.4em;
            }
          }
        }
      }
      .primary {
        transform: translateY(-120px);
        order: 0;
        .content {
          .desc {
            padding-left: 10px;
          }
        }
      }
      .secondary {
        order: 1;
        transform: translateY(-35px) translateX(10px);
      }
      .tertiary {
        order: 2;
        transform: translateY(-80px) translateX(80px);
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .languages {
    margin-top: 50px;
    img#languages-bg {
      top: 0;
      width: 100%;
      transform: scale(3) rotate(180deg);
    }
    .container {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      .primary,
      .secondary,
      .tertiary {
        width: 100%;
        position: relative;
        transform: translateX(-10px) translateY(0);
        margin: 40px auto;
        img.card-pattern {
          top: 0px;
          left: 45px;
          width: 70%;
          transform: scale(1.39);
        }
        .content {
          width: 75%;
          margin: 0 auto;
          .name {
            font-size: $text_small;
            img {
              width: 44px;
              height: 44px;
            }
          }
          .desc {
            padding-left: 20px;
            width: 100%;

            p {
              margin: 0.8em;
              font-size: $text_xsmall;
              line-height: 1.2em;
            }
          }
        }
      }

      .secondary,
      .tertiary {
        transform: translateX(40px) translateY(0);
        img.card-pattern {
          transform: scale(1.6);
        }
      }

      .secondary {
        margin-bottom: 100px;
      }
      .tertiary {
        transform: translateX(-10px) translateY(0);
      }
    }
  }
}
