@import './colors';
@import './typography';

@media screen and (max-width: $desktop) {
  #latestPRs {
    margin-top: 130px;
    .container {
      width: 80%;
    }
  }
}
@media screen and (max-width: $ipadRotate) {
  #latestPRs {
    margin-top: 130px;
    .container {
      width: 85%;

      img#latestPR-bg2 {
        left: 0px;
        top: -30px;
        width: 10%;
      }
    }
  }
}
@media screen and (max-width: $ipad) {
  #latestPRs {
    margin-top: 130px;
    .container {
      width: 90%;
      .pppr {
        display: flex;
        gap: 10px;
        .prs {
          .pr {
            .logo {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  #latestPRs {
    margin-top: 130px;
    .container {
      width: 90%;
      margin: 50px auto;
      img#latestPR-bg2 {
        left: -10px;
        top: -30px;
        width: 20%;
      }
      .pppr {
        flex-direction: column;
        .prs {
          margin: 40px 0;
          width: 100%;
          .pr {
            .logo {
              margin-left: 0;
            }
          }
          // border
        }
      }
    }
  }
}
