@import './colors';
@import './typography';

#latestPRs {
  height: 90vh;
  margin-top: 130px;
  // border: 3px dotted greenyellow;

  .container {
    width: 70%;
    margin: 50px auto;
    img#latestPR-bg,
    img#latestPR-bg2 {
      position: absolute;
      bottom: -220px;
      right: -100px;
      z-index: -1;
      width: 40%;
      height: auto;
      transform: rotate(-10deg);
      opacity: 0.5;
    }

    img#latestPR-bg2 {
      left: -180px;
      top: -80px;
      width: 15%;
    }

    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;
      img {
        margin-right: 20px;
        width: 40px;
        height: auto;
      }
      h2 {
        margin-bottom: 0;
        font-size: $text_medium;
        line-height: 1em;
        color: $orange;
        span {
          font-size: $text_xsmall;
        }
        &::after {
          content: '';
          display: table;
          width: 180px;
          height: 6px;
          background: $g_blueGreen;
          display: block;
          border-radius: 7px;
          margin-top: 10px;
        }
      }
    }

    .prs {
      position: relative;
      width: 80%;
      // padding: 40px 0;
      margin: 0 auto;
      // background: $g_greenBluePink;
      border-radius: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img.triangle {
        position: absolute;
        top: -50px;
        left: 20px;
      }
      .pr {
        background: $g_greenBluePink;
        border-radius: 45px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        width: 100%;
        margin: 0 auto;
        border-bottom: 2px solid $gray;
        display: flex;
        align-items: flex-end;
        .logo {
          margin-left: 20px;
          width: 20px;
          height: auto;
        }
        .text {
          width: 90%;
          margin-left: 20px;
          font-family: $font_gabriela;
          font-size: $text_small * 0.8;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:nth-of-type(2n) {
          transform: translateX(40px);
          background: $g_blueGreen2;
          color: $black;
          border-radius: 45px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        &:nth-of-type(4n) {
          transform: translateX(-40px);
          background: $g_twitter;
          color: $black;
          border-radius: 45px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }
  }
}
