@import './colors';
@import './typography';

@mixin textColorGradient($gradient) {
  background: -webkit-#{$gradient};
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
