@import './colors';
@import './typography';

@mixin textColorGradient($gradient) {
  background: -webkit-#{$gradient};
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#shaurya-showcase {
  color: $white;
  position: relative;
  #navbarback {
    z-index: -1;
    position: absolute;
    right: 0;
    top: -10%;
    width: 90%;
  }

  #box-pattern {
    position: absolute;
    z-index: -1;
    right: -4%;
    top: 40%;
    width: 20%;
    transform: rotate(10deg);
  }

  svg#book-pattern {
    position: absolute;
    z-index: -1;
    top: -19%;
    left: -22%;
    height: 110%;
    transform: rotate(-8deg);

    #github,
    #twitter,
    #linkedin {
      z-index: 1 !important;
      cursor: pointer;
    }
  }

  .container {
    // delete .Homepage when moved to homepage.scss
    .Homepage {
      .Hero {
        height: 200vh;
        width: 100%;
        .who-am-i {
          padding-top: 50vh;
          border: 3px solid gray;
          margin: 0 auto;
          min-width: 550px;
          width: 40%;
          display: grid;
          grid-template-columns: repeat(10, 1fr);
          grid-template-areas:
            'hi hi bar bar bar bar bar bar bar bar'
            'name name name name name name name name name name'
            'bar2 bar2 bar2 bar2 bar2 bar2 description description description description'
            'logos logos logos logos logos logos logos logos logos logos'
            'bar3 bar3 bar3 bar3 bar3 bar3 bar3 bar3 bar3 bar3';
          align-content: center;
          .hi {
            grid-area: hi;
            color: $gray;
            font-size: $text_medium;
          }
          .name {
            grid-area: name;
            @include textColorGradient($g_blackOrange);
            font-weight: 600;
            font-size: 74px;
            line-height: 90px/16px * 1rem;
            text-align: left;
            font-family: $font_gabriela;
          }
          .description {
            grid-area: description;
            color: $gray;
            font-size: $text_large;
            line-height: 140%;
            text-align: right;
            font-weight: 500;
          }
          .logos {
            grid-area: logos;
            padding-top: 40px;
            * {
              margin: 0 14px;
            }
          }
          .bar {
            grid-area: bar;
            width: 110% !important;
            margin-left: -42px;
          }
          .bar2 {
            grid-area: bar2;
            width: 104% !important;
          }
          .bar3 {
            grid-area: bar3;
          }

          .bar,
          .bar2,
          .bar3 {
            font-size: 0;
            height: 6px;
            width: 100%;
            border-radius: 7px;
            background-color: $green;
            align-self: center;
          }
        }
      }

      //
      //
      //
    }
  }
}
