@import './colors';
@import './typography';

#projects {
  margin-top: 260px;

  img#projects-bg {
    // border: 3px dotted greenyellow;
    position: absolute;
    z-index: -5;
    top: -580px;
    left: 0px;
    width: 100%;
  }

  .container {
    position: relative;
    width: 70%;
    margin: 50px auto;
    img#projects-bg2 {
      position: absolute;
      z-index: -1;
      top: -40px;
      left: -60px;
      width: 10%;
    }
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;
      img {
        margin-right: 20px;
        width: 44px;
        height: auto;
      }
      h2 {
        margin-bottom: 0;
        font-size: $text_medium;
        line-height: 1em;
        color: $green;
        opacity: 0.9;
        position: relative;
      }
    }

    .project-all {
      padding: 20px;
      display: grid;
      grid-template-rows: repeat(5, 1fr);
      gap: 100px;
      .project {
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        gap: 150px;
        align-items: flex-start;
        // border: 3px solid red;
        .project-left {
          position: relative;
          margin-top: 100px;
          .editor {
            position: absolute;
            left: 0;
            z-index: -1;
            transform: rotate(-7deg);
          }
          .code {
            position: absolute;
            top: 25px;
            left: 17px;
            transform: rotate(-7deg);
          }
          .icons {
            transform: rotate(-3deg);
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 170px;
            right: 90px;
          }
        }
        .project-right {
          transform: rotate(14deg) translateX(100px);
        }
        &:nth-of-type(2n) {
          .project-left {
            order: 2;
            .editor {
              transform: rotate(7deg);
            }
            .code {
              transform: rotate(7deg);
            }
            .icons {
              transform: rotate(3deg);
            }
          }
          .project-right {
            order: 1;
            transform: rotate(-15deg);
          }
        }
      }
    }
  }
}
