@import './colors';
@import './typography';

#skills {
  margin-top: 160px;
  .container {
    position: relative;
    width: 70%;
    margin: 50px auto;
    img#swiggly-bg {
      position: absolute;
      z-index: -1;
      top: -40px;
      left: -60px;
      width: 10%;
    }
    .header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 80px;
      img {
        margin-right: 20px;
        width: 44px;
        height: auto;
      }
      h2 {
        margin-bottom: 0;
        font-size: $text_medium;
        line-height: 1em;
        color: $green;
        opacity: 0.9;
        position: relative;
      }
    }

    .rutherford {
      img {
        display: flex;
        justify-content: center;
        height: 80vh;
        margin: 0 auto;
      }
    }
  }

  img#rutherford-bg {
    // border: 3px dotted greenyellow;
    position: absolute;
    z-index: -1;
    top: -450px;
    left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: $desktop) {
  #skills {
    .container {
      width: 80%;
      img#swiggly-bg {
        top: -40px;
        left: -40px;
      }
    }

    img#rutherford-bg {
      top: -260px;
      left: 0px;
    }
  }
}
@media screen and (max-width: $ipadRotate) {
}
@media screen and (max-width: $ipad) {
  #skills {
    .container {
      width: 85%;
      img#swiggly-bg {
        top: -40px;
        left: -40px;
        width: 20%;
      }
      .rutherford {
        img {
          width: 110%;
          height: 110%;
        }
      }
    }

    img#rutherford-bg {
      top: -100px;
      left: 0px;
      transform: scale(1.8);
    }
  }
}
@media screen and (max-width: $mobile) {
  #skills {
    .container {
      width: 90%;
      img#swiggly-bg {
        top: -30px;
        left: -30px;
        width: 20%;
      }
      .rutherford {
        img {
          width: 270%;
          height: 250%;
        }
      }
    }
  }
}
